.project {
  display: flex;
  flex-direction: column;
  padding: 2em;
  margin: 0 auto;
  text-align: center;
  box-shadow: var(--shadow);
  transition: transform 0.2s linear;
  border: 1px solid var(--clr-tertiary);
}

.project:hover {
  transform: translateY(-7px);
  box-shadow: var(--shadow-hover);
}

.project__highlight {
  font-size: smaller;
  font-weight: bold;
  margin: auto;
  color: var(--clr-primary);
  margin-top: 0.5rem;
  border: 1px solid var(--clr-primary);
  padding: 2px 8px;
}

.project__description {
  margin-top: 1em;
  flex-grow: 1;
}

.project__stack {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1.2em 0;
}

.project__stack-item {
  margin: 0.5em;
  font-weight: 500;
  font-size: 0.8rem;
  color: var(--clr-fg-alt);
  border: 1px solid var(--clr-fg);
  border-radius: 5px;
  padding: 2px 8px;
}

.project .link--icon {
  margin-left: 0.5em;
}
