.testimonial {
  display: flex;
  flex-direction: column;
  padding: 2em;
  margin: 0 auto;
  text-align: center;
  box-shadow: var(--shadow);
  transition: transform 0.2s linear;
  border: 1px solid var(--clr-tertiary);
  width: 100%;
}

.testimonial:hover {
  transform: translateY(-7px);
  box-shadow: var(--shadow-hover);
}

.testimonial__description {
  margin-top: 1em;
  flex-grow: 1;
}

.testimonial_details {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 1rem;
}

.testimony_title,
.testimony_designation {
  color: var(--clr-fg);
}

.testimony_designation {
}

.testimonial_personal_details {
  margin-left: 1rem;
  text-align: left;
  display: flex;
  flex-direction: column;
}

.testimonial__stack {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1.2em 0;
}

.testimonial_name {
}

.testimonial__stack-item {
  margin: 0.5em;
  font-weight: 500;
  font-size: 0.8rem;
  color: var(--clr-fg-alt);
}

.testimonial .link--icon {
  margin-left: 0.5em;
}
