.about_box {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 45vh;
  min-height: 500px;
}
.about {
  flex-direction: column;
  margin-top: 3em;
}

.about_hi {
  font-size: 0.75em;
}

.about__name {
  color: var(--clr-primary);
}

.about__role {
  margin-top: 1rem;
}

.about__desc {
  font-size: 1rem;
  max-width: 600px;
}

.about__desc,
.about__contact {
  margin-top: 2.4em;
}

.about .link--icon {
  margin-right: 0.8em;
}

.about .btn--outline {
  margin-right: 1em;
}

.image {
  max-height: 450px;
  transform: scaleX(-1);
  margin: auto;
  border-radius: 50%;
}

@media (max-width: 750px) {
  .about_box {
    flex-direction: column;
    height: max-content;
    justify-content: center;
    align-items: center;
  }

  .about__contact {
    display: flex;
    justify-content: center;
  }
  .image {
    margin-top: 2em;
    height: 250px;
  }
}

@media (max-width: 600px) {
  .app .about {
    align-items: flex-start;
    margin-top: 2em;
  }
}
